#main-content{
  //max-width:2000px;
  margin:0 auto;
}

.container{
  padding-left:20px;
  padding-right:20px;
  max-width:1600px;
  width:100%;
  margin:0 auto;
}

.container-narrow{
  @extend .container;
  max-width:1000px;
}

.container-very-narrow{
  @extend .container;
  max-width:770px;
}

.container-wide{
  @extend .container;
  max-width:1800px;
}

.container-extra-wide{
  @extend .container;
  max-width:2000px;
}

.container-fluid{
  padding-left:20px;
  padding-right:20px;
  width:100%;
}

.row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  margin-left:-20px;
  margin-right:-20px;
  gap:normal !important;

  &.wp-block-columns{
    margin-bottom:0;
  }

  >.wp-block-column{
    margin-left:0 !important;
  }

  >*{
    flex:0 0 auto;
    padding-left:20px;
    padding-right:20px;
    width:100%;
    position: relative;
    min-height: 1px;
    box-sizing:border-box;
  }

  &.align-center{
    align-items: center;
  }

  &.align-start{
    align-items: flex-start;
  }

  &.align-end{
    align-items: flex-end;
  }

  &.justify-content-start{
    justify-content: flex-start;
  }

  &.justify-content-end{
    justify-content: flex-end;
  }

  &.justify-content-center{
    justify-content: center;
  }

  &.justify-content-between{
    justify-content: space-between;
  }

  &.justify-content-around{
    justify-content: space-around;
  }

  @for $i from 0 through 10 {
    .order-#{$i}{
      order:$i;
    }
  }

  &.no-gutter{
    margin-left:0;
    margin-right: 0;
    >*{
      padding-left:0;
      padding-right:0;
    }
  }

  &.gutter-10{
    margin-left:-10px;
    margin-right: -10px;
    >*{
      padding-left:10px;
      padding-right:10px;
    }
  }

  &.gutter-5{
      margin-left:-5px;
      margin-right: -5px;
      >*{
        padding-left:5px;
        padding-right:5px;
      }
    }

}

@for $i from 1 through 12 {
  .col-#{$i}{
    flex: 0 0 auto;
    max-width: ($i/12*100)*1%;
    flex-basis: ($i/12*100)*1% !important;
  }
}

.col-fifth{
  flex: 0 0 auto;
  max-width: 20%;
}

.col-auto{
  flex: 0 0 auto;
  width: auto;
}

@include for-screen-sm-min{
  @for $i from 1 through 12 {
    .col-sm-#{$i}{
      flex: 0 0 auto;
      max-width: ($i/12*100)*1%;
      flex-basis: ($i/12*100)*1% !important;
    }
  }

  .col-sm-fifth{
    flex: 0 0 auto;
    max-width: 20%;
    flex-basis: 20%;
  }

  .col-sm-auto{
    flex: 0 0 auto;
    width: auto;
  }


}

@include for-screen-sm-max{
  .hide-on-mobile{
    display:none !important;
  }
}

@include for-screen-md-max{
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column, .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:only-child) {
    flex-basis: 100%!important;
    margin-left:auto !important;
    margin-right: auto !important;
  }
}

@include for-between-size($screen-md-min, $screen-xl-max){
  .hide-on-tablet{
    display:none !important;
  }
}


@include for-screen-md-min{
  @for $i from 1 through 12 {
    .col-md-#{$i}{
      flex: 0 0 auto;
      max-width: ($i/12*100)*1%;
      flex-basis: ($i/12*100)*1% !important;
    }
  }

  .col-md-fifth{
    flex: 0 0 auto;
    max-width: 20%;
    flex-basis: 20% !important;
  }

  .col-md-auto{
    flex: 0 0 auto;
    width: auto;
  }


}


@include for-screen-lg-min{
  @for $i from 1 through 12 {
    .col-lg-#{$i}{
      flex: 0 0 auto;
      max-width: ($i/12*100)*1%;
      flex-basis: ($i/12*100)*1% !important;
    }
  }

  .col-lg-fifth{
    flex: 0 0 auto;
    max-width: 20%;
    flex-basis: 20% !important;
  }

  .col-lg-auto{
    flex: 0 0 auto;
    width: auto;
  }


}


@include for-screen-xl-min{

  .hide-on-desktop{
    display:none !important;
  }

  @for $i from 1 through 12 {
    .col-xl-#{$i}{
      flex: 0 0 auto;
      max-width: ($i/12*100)*1%;
      flex-basis: ($i/12*100)*1% !important;
    }
  }

  .col-xl-fifth{
    flex: 0 0 auto;
    max-width: 20%;
    flex-basis: 20% !important;
  }

  .col-xl-auto{
    flex: 0 0 auto;
    width: auto;
  }


}


@include for-screen-xxl-min{
  @for $i from 1 through 12 {
    .col-xxl-#{$i}{
      flex: 0 0 auto;
      max-width: ($i/12*100)*1%;
      flex-basis: ($i/12*100)*1% !important;
    }
  }

  .col-xxl-fifth{
    flex: 0 0 auto;
    max-width: 20%;
    flex-basis: 20% !important;
  }

  .col-xxl-auto{
    flex: 0 0 auto;
    width: auto;
  }


}