.pb-icon{
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width:24px;
  height: 24px;
  text-align: center;
  margin:0 auto;
  img{
    width:100%;
    height: 100%;
    object-fit: contain;
  }
}

.pb-icon-search{
  @extend .pb-icon;
  background-image: url('img/icons/search.svg');
}


.pb-icon-arrow-right-highlight-2{
  @extend .pb-icon;
  background-image: url('img/icons/arrow-right-highlight-2.svg');
}

.pb-icon-arrow-right-white{
  @extend .pb-icon;
  background-image: url('img/icons/arrow-right.svg');
}

.pb-icon-arrow-left-highlight-2{
  @extend .pb-icon;
  background-image: url('img/icons/arrow-left-highlight-2.svg');
}

.pb-icon-arrow-left-white{
  @extend .pb-icon;
  background-image: url('img/icons/arrow-left.svg');
}

.pb-icon-cart{
  @extend .pb-icon;
  background-image: url('img/icons/cart.svg');
}

.pb-icon-user{
  @extend .pb-icon;
  background-image: url('img/icons/user.svg');
}

.pb-icon-golf-hole{
  @extend .pb-icon;
  background-image: url('img/icons/golf-hole.svg');
}

.pb-icon-golf-hole-b{
  @extend .pb-icon;
  background-image: url('img/icons/golf-hole-b.svg');
}

.pb-icon-phone-o{
  @extend .pb-icon;
  background-image: url('img/icons/phone-o.svg');
}

.pb-icon-envelope{
  @extend .pb-icon;
  background-image: url('img/icons/envelope.svg');
}


.icon-xxs{
  width:16px;
  height: 16px;
}

.icon-xs{
  width:24px;
  height: 24px;
}

.icon-sm{
  width:36px;
  height: 36px;
}

.icon-md{
  width:48px;
  height: 48px;
}

.icon-lg{
  width: 72px;
  height: 72px;
}

.pb-icon-close{
  @extend .pb-icon;
  position: relative;

  &:after, &:before{
    content:"";
    width:100%;
    position: absolute;
    background:$color-highlight;
    transform-origin: center;
    height: 2px;
    transform:translate(-50%,-50%) rotate(-45deg);
    top:50%;
    left:50%;
  }

  &:after{
    transform:translate(-50%,-50%) rotate(45deg);
  }

}
